.login-body {
    height: 100vh;
    position: relative;
    display: table;
    width: 100%;

    .login-form {
        display: table-cell;
        width: 50%;
        padding: 0 200px;
        .logo{
            text-align: center;
        }
        .wc-text {
            font-size: 32px;
            color: #293451;
            margin-bottom: 100px;
            text-align: center;
        }

        .input-group {
            margin-bottom: 20px;

            label {
                display: inline-block;
                color: #191733;
                margin-bottom: 10px;
                font-weight: 500;
            }

            input {
                width: 100%;
                height: 34px;
                border: 1px solid #e1e3ea;
                border-radius: 4px;
                outline: 0;
                padding: 0 10px;
                transition: all ease-in 0.2s;
                &:focus{
                    border: 1px solid #594cff;
                }
            }
        }
        .forgot-pass{
            text-align: right;
            a{
                color: #a1528e;
            }
        }
        .login-btn {
            background-color: #594cff;
            display: block;
            text-align: center;
            line-height: 36px;
            border-radius: 4px;
            color: #fcfdff;
            font-weight: 500;
        }
    }

    .info-form {
        display: table-cell;
        width: 50%;
        background-color: #eaeffb;
        position: relative;
        text-align: right;

        .img-bg {
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .txt-info {
            max-width: 500px;
            margin-top: 80px;
            margin-right: 70px;
            float: right;

            h4 {
                color: #1e2142;
                font-size: 26px;
                margin-bottom: 30px;
            }

            p {
                font-size: 18px;
                color: #7d8695;
                line-height: 26px;
            }
        }
    }
}