@font-face {
  font-family: 'TeddyBear';
  src: url('/fonts/000BeatDownBBTeddyBear.eot?#iefix') format('embedded-opentype'),
    url('/fonts/000BeatDownBBTeddyBear.woff') format('woff'),
    url('/fonts/000BeatDownBBTeddyBear.ttf') format('truetype'),
    url('/fonts/000BeatDownBBTeddyBear.svg#000BeatDownBBTeddyBear') format('svg');
}
@font-face {
  font-family: 'UTM Bebas';
  src: url('/fonts/UTMBebas.eot?#iefix') format('embedded-opentype'),
    url('/fonts/UTMBebas.woff') format('woff'),
    url('/fonts/UTMBebas.ttf') format('truetype'),
    url('/fonts/UTMBebas.svg#UTMBebas') format('svg');
}
@font-face {
  font-family: 'EASansCurvesRegular_FIFA';
  src: url('/fonts/EASansCurvesRegular_FIFA.eot?#iefix') format('embedded-opentype'),
    url('/fonts/EASansCurvesRegular_FIFA.woff') format('woff'),
    url('/fonts/EASansCurvesRegular_FIFA.ttf') format('truetype'),
    url('/fonts/EASansCurvesRegular_FIFA.svg#EASansCurvesRegular_FIFA') format('svg');
}